<div class='padding-inset-s inline-block' title='{{jed 'Order approved'/}}'>
  <i class='fa fa-thumbs-up'></i>
</div>
<a class='button white' href='{{>url('hand_over')}}'>
  <i class='fa fa-mail-forward'></i>
  {{jed 'Hand Over'/}}
</a>
