{{partial 'manage/views/users/cell' user() '{"grid":"col1of8"}'/}}
<div class='col1of8 line-col'>{{diffToday created_at/}}</div>
<div class='col1of8 line-col text-align-center' data-type='lines-cell'>{{include tmpl='manage/views/reservations/cell'/}}</div>
<div class='col1of8 line-col'>
  {{>getMaxRange()}}
  {{jed getMaxRange() "day" "days"/}}
</div>
<div class='col2of8 line-col text-align-left'>
  <strong>{{jed "Approved"/}}</strong>
</div>
<div class='col2of8 line-col line-actions'>
  <a class='button white text-ellipsis' href='{{>user().url('hand_over')}}'>
    {{if ~accessRight.atLeastRole(~currentUserRole, "lending_manager") }}
    <i class='fa fa-mail-forward'></i>
    {{jed "Hand Over"/}}
    {{else}}
    {{jed "Edit"/}}
    {{/if}}
  </a>
</div>
