<div class='row margin-top-l padding-bottom-m'>
  <div class='text-align-right margin-right-m'>
    <span class='badge medium padding-inset-xs text-shadow' style='background-color: #999999'>{{jed "Take Backs"/}}</span>
    <span class='badge medium padding-inset-xs text-shadow' style='background-color: #cccccc'>{{jed "Hand Overs"/}}</span>
  </div>
</div>
<div class='bar-chart'></div>
