.notice.paragraph-m.row.emboss.text-align-center.padding-inset-xs.margin-bottom-m
  .col1of10
    %i.fa.fa-wrench.flash-icon
  .col8of10
    %a.white{href: "/admin/inventory-pools/#{@current_inventory_pool.id}"}
      %strong
        = _("legacy_manage_inventory_pool_admin_section_notice")
  .col1of10
