<div class='row line font-size-xs'>
  <input name='{{>~paramName}}' type='hidden' value='{{>id}}'>
  <div class='line-col col5of6 text-align-left' data-user-name>
    {{>name()}}
  </div>
  <div class='line-col col1of6 text-align-right'>
    <button class='button inset small' data-remove-user>{{jed "Remove"/}}</button>
  </div>
</div>
