<div class='row padding-inset-l'>
  <div class='col1of7'>
    <h3 class='headline-m'>{{localize start_date/}}</h3>
  </div>
  <div class='col5of7'>
    {{if inventory_pool}}
    <h2 class='headline-m'>{{>inventory_pool.name}}</h2>
    {{/if}}
  </div>
</div>
<div class='separated-top padding-bottom-l'>
  {{partial "borrow/views/templates/availability/line" reservations/}}
</div>
