.DS_Store
Dockerfile
Dockerfile*
.dockerignore
docker-compose*
.env*

/.git
/README*
/cider-ci
/cider-ci*
/.cider-ci
/.cider-ci*
/_cider-ci_keep
/.vscode
/bin/docker*
/scripts/tmux

/doc
/database/.git
/node_modules
/public/assets/.git
/vendor/bundle
/tmp
/spec
/factories
/features