*.swp
*~
.DS_Store
.byebug_history
.idea/
.jhw-cache
.loadpath
.project
.rubocop_todo.yml
.sass-cache
.settings
.tmp_*~
.mo
.vagrant*
.vagrant/*
/database
/tags
Gemfile.local*
app/controllers/authenticator/agw_info.rb
config/cucumber.sphinx.conf
config/culerity.sphinx.conf
config/database.yml
config/database_local.yml
config/development.sphinx.conf
config/environments/development_mail.rb
db/backups/
db/exports/
db/sphinx/
db/structure_and_data.pgbin
doc/diagrams/generated/captures.dot
doc/todo.html
features/reports/*
jhw.*
log/*
public/**/attachments/*
public/dev-assets
public/attachments
public/images/attachments
public/images/graphs/*
public/system/procurement/main_categories/images
tmp/
/public/packs
/public/packs-test
/node_modules
/package-lock.json
