<span class='page loading-page' data-page='{{> ~page}}'>
  <div class='height-s'></div>
  <img class='margin-horziontal-auto margin-top-xxl margin-bottom-xxl' src='<%= asset_path('loading.gif') %>'>
  <div class='height-s'></div>
</span>
