<li class='separated-bottom exclude-last-child width-xl'>
  <a>
    <div class='row'>
      <div class='col1of3'>
        <strong>
          {{>inventoryCode}}
        </strong>
      </div>
      <div class='col2of3 text-ellipsis' title='{{>name}}'>
        <span class='grey-text'>{{>name}}</span>
      </div>
    </div>
  </a>
</li>
