<button class='button inset width-full' data-type='select'>
  {{jed "Select File"/}}
</button>
<input autocomplete='false' class='invisible height-full width-full position-absolute-topleft' type='file'>
