<div class='row'>
  <div class='col7of8 padding-vertical-xs' id='remaining-total-quantity'></div>
  <div class='col1of8'>
    <button class='button inset float-right' id='add-inline-entry'>
      <i class='fa fa-plus'></i>
    </button>
  </div>
</div>
