<div class='modal fade ui-modal medium' role='dialog' tabindex='-1'>
  <div class='modal-header row'>
    <div class='col3of5'>
      <h2 class='headline-l'>{{>titel}}</h2>
      <h3 class='headline-m light'>{{>model.name()}}</h3>
    </div>
    <div class='col2of5 text-align-right'>
      <div class='modal-close'>{{jed "Cancel"/}}</div>
      <button class='button green' disabled='disabled' id='submit-booking-calendar'>{{>buttonText}}</button>
    </div>
  </div>
  <div id='booking-calendar-errors'></div>
  <div class='modal-body'>
    <form class='padding-inset-m'>
      <div class='hidden' id='booking-calendar-controls'>
        <div class='col5of8 float-right'>
          <div class='row grey padding-bottom-xxs'>
            <div class='col1of2'>
              <div class='col1of2 padding-right-xs text-align-left'>
                <div class='row'>
                  <span>{{jed "Start date"/}}</span>
                  <a class='grey fa fa-eye position-absolute-right padding-right-xxs' id='jump-to-start-date'></a>
                </div>
              </div>
              <div class='col1of2 padding-right-xs text-align-left'>
                <div class='row'>
                  <span>{{jed "End date"/}}</span>
                  <a class='grey fa fa-eye position-absolute-right padding-right-xxs' id='jump-to-end-date'></a>
                </div>
              </div>
            </div>
            <div class='col1of2'>
              <div class='col2of8 text-align-left'>{{jed "Quantity"/}}</div>
              <div class='col6of8 padding-left-xs text-align-left'>{{jed "Inventory pool"/}}</div>
            </div>
          </div>
          <div class='row'>
            <div class='col1of2'>
              <div class='col1of2 padding-right-xs'>
                <input autocomplete='off' id='booking-calendar-start-date' type='text'>
              </div>
              <div class='col1of2 padding-right-xs'>
                <input autocomplete='off' id='booking-calendar-end-date' type='text'>
              </div>
            </div>
            <div class='col1of2'>
              <div class='col2of8'>
                <input autocomplete='off' class='text-align-center' id='booking-calendar-quantity' type='text' value='1'>
              </div>
              <div class='col6of8 padding-left-xs'>
                <select autocomplete='off' class='min-width-full text-ellipsis' id='booking-calendar-inventory-pool'></select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='booking-calendar padding-top-xs' id='booking-calendar'></div>
      <img class='loading margin-horziontal-auto margin-vertical-xl' src='<%= image_path('loading.gif') %>'>
    </form>
  </div>
  <div class='modal-footer'></div>
</div>
