<div class='row line font-size-xs focus-hover-thin' data-new data-type='inline-entry'>
  <div class='line-col text-align-center' title='{{jed 'File has to be uploaded on save'/}}'>
    <i class='fa fa-cloud-upload'></i>
  </div>
  <div class='line-col col7of10 text-align-left'>
    {{>name}}
  </div>
  <div class='line-col col3of10 text-align-right'>
    <button class='button small inset' data-remove type='button'>
      {{jed "Remove"/}}
    </button>
  </div>
</div>
