- content_for :title, @model.is_a?(Software) ? _("Create new software") : _("Create new model")
- content_for :inventory_section, "active"



#new-model-view.wrapper.margin-top-m

  = render :partial => 'manage/tabs/inventory', :locals => {:active_tab => :inventory}

  = react_component('CreateModel', @props)
