- content_for :title, _("List of Rooms")
- content_for :manage_section, "active"

.row
  .col-sm-6
    %h1= yield :title
  .col-sm-6.text-right
    %a.btn.btn-default{href: admin.new_room_path}
      %i.fa.fa-plus
      = _("Create %s") % _("Room")


%form#list-filters.row.well
  .col-sm-2
    %input.form-control{type: 'text', name: 'search_term', value: params[:search_term], placeholder: _("Search..."), autocomplete: :false, autofocus: true, onfocus: "this.value = this.value;"}
  .col-sm-8
    %button.btn.btn-default{type: :submit}
      %i.fa.fa-search
      = _('Search')

.list-of-lines.pages
  = render @rooms

%h1.pages-progress.text-center
  %i.fa.fa-spinner

:coffeescript
  $(document).on 'scroll', -> Pages.load_next()
  $(document).ready -> Pages.reset()
