<div class='line row focus-hover-thin' data-id='{{>id}}' data-type='license'>
  <div class='col1of5 line-col'></div>
  <div class='col2of5 line-col text-align-left'>
    <div class='row'>
      {{>inventory_code}}
    </div>
    <div class='row grey-text'>
      {{if item_version}}
        {{>itemVersion() + ', '}}
      {{/if}}
      {{if ~additionalDataFetched}}
        {{if current_location}}
          {{>current_location + ', '}}
        {{/if}}
      {{else}}
      <span>
        {{partial "views/loading" {"size":"micro"}/}}
      </span>
      {{/if}}
      {{>licenseInformation()}}
    </div>
  </div>
  <div class='col1of5 line-col'></div>
  <div class='col1of5 line-col line-actions padding-right-xs'>
    {{if ~accessRight.atLeastRole(~currentUserRole, "lending_manager") }}
    <div class='multibutton width-full text-align-right'>
      <a class='button white text-ellipsis col4of5 negative-margin-right-xxs' href='{{>url('edit')}}' title='{{jed 'Edit License'/}}'>
        {{jed "Edit License"/}}
      </a>
      <div class='dropdown-holder inline-block col1of5'>
        <div class='button white dropdown-toggle width-full no-padding text-align-center'>
          <div class='arrow down'></div>
        </div>
        <ul class='dropdown right'>
          <li>
            <a class='dropdown-item' href='{{>url('copy')}}'>
              <i class='fa fa-copy'></i>
              {{jed "Copy License"/}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    {{/if}}
  </div>
</div>
