<li class='separated-bottom exclude-last-child'>
  <a class='row' href='/borrow/models/{{>id}}' title='{{>name()}}'>
    <div class='col8of10'>
      <div class='row text-ellipsis'>
        <strong>{{>name()}}</strong>
      </div>
      <div class='row text-ellipsis'>{{>manufacturer}}</div>
    </div>
    <div class='col2of10 text-align-center padding-left-s'>
      <img class='max-height-xxs max-width-xxs min-height-xxs min-width-xxs' src='/models/{{>id}}/image_thumb'>
    </div>
  </a>
</li>
