<option data-value='[{{>user}}]'>{{jed "Borrower"/}}</option>
{{if userGroups.length}}
<optgroup label='{{jed 'Entiltement-Groups of this customer'/}}'>
  {{for userGroups}}
  <option data-value='[{{>id}}]'>{{>name}}</option>
  {{/for}}
</optgroup>
{{/if}}
{{if otherGroups.length}}
<optgroup label='{{jed 'Other entitlement-groups'/}}'>
  {{for otherGroups}}
  <option data-value='[{{>id}}]'>{{>name}}</option>
  {{/for}}
</optgroup>
{{/if}}
