<div class='order-line line light row focus-hover-thin' data-ids='{{JSON ids/}}'>
  <div class='line-info{{if ~renderAvailability && anyProblems()}} red{{/if}}'></div>
  <div class='line-col padding-left-xs'>
    <div class='row'>
      <div class='col1of4'>
        <label class='padding-inset-s'>
          <input autocomplete='off' data-select-line type='checkbox'>
        </label>
      </div>
    </div>
  </div>
  <div class='col1of10 line-col text-align-center'>
    <span>
      {{if subreservations}}
      {{sum subreservations "quantity"/}}
      {{else}}
      {{>quantity}}
      {{/if}}
    </span>
    {{if ~renderAvailability}}
    <span class='grey-text'>
      /
      {{if subreservations}}
      {{>model().availability().withoutLines(subreservations).maxAvailableForGroups(start_date, end_date, user().groupIds)}}
      {{else}}
      {{>model().availability().withoutLines([#view.data]).maxAvailableForGroups(start_date, end_date, user().groupIds)}}
      {{/if}}
    </span>
    {{/if}}
  </div>
  <div class='col6of10 line-col text-align-left'>
    <strong data-id='{{>model().id}}' data-type='model-cell'>
      {{>model().name()}}
    </strong>
  </div>
  <div class='col1of10 line-col text-align-left padding-horizontal-m'>
    {{if ~renderAvailability && anyProblems()}}
    <div class='emboss red padding-inset-xxs-alt text-align-center tooltip' data-tooltip-data='{{JSON getProblems()/}}' data-tooltip-template='manage/views/reservations/problems_tooltip'>
      <strong>{{>getProblems().length}}</strong>
    </div>
    {{/if}}
  </div>
  <div class='col2of10 line-col line-actions'>
    <div class='multibutton'>
      <button class='button white text-ellipsis' data-edit-lines data-ids='{{JSON ids/}}'>
        {{jed "Change entry"/}}
      </button>
      <div class='dropdown-holder inline-block'>
        <div class='button white dropdown-toggle'>
          <div class='arrow down'></div>
        </div>
        <ul class='dropdown right'>
          <li>
            <a class='dropdown-item' data-model-id='{{>model_id}}' data-open-time-line>
              <i class='fa fa-align-left'></i>
              {{jed "Timeline"/}}
            </a>
          </li>
          <li>
            <a class='dropdown-item' data-swap-model>
              <i class='fa fa-exchange'></i>
              {{jed "Swap Model"/}}
            </a>
          </li>
          <li>
            <a class='dropdown-item red' data-destroy-lines data-ids='{{JSON ids/}}'>
              <i class='fa fa-trash'></i>
              {{jed "Delete"/}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
