<div class='width-m'>
  {{for content}}
  <div class='padding-vertical-xxs'>
    <div class='padding-inset-s emboss'>
      <strong class='font-size-m'>{{>message}}</strong>
    </div>
  </div>
  {{/for}}
</div>
