<div class='emboss blue padding-inset-s'>
  <p class='paragraph-s'>
    <img class='margin-right-s max-width-micro' src='<%= asset_path('loading.gif') %>'>
    <strong>
      {{jed "Removing items"/}}
    </strong>
  </p>
</div>
