<div class='emboss white padding-inset-xxs'>
  <div class='row'>
    <p class='paragraph-s'>
      <strong>
        {{>firstname}}
        {{>lastname}}
      </strong>
    </p>
    <div class='position-absolute-topright padding-inset-xxs'>
      <a class='grey padding-inset-xxs' id='remove-user'>
        <i class='fa fa-times-circle icon-m'></i>
      </a>
    </div>
  </div>
</div>
