<div class='modal medium hide fade ui-modal padding-inset-m padding-horizontal-l' role='dialog' tabindex='-1'>
  <form>
    <div class='row padding-vertical-m'>
      <div class='col1of2'>
        <h3 class='headline-l'>{{jed "Change orderer"/}}</h3>
      </div>
      <div class='col1of2'>
        <div class='float-right'>
          <a aria-hidden='true' class='modal-close weak' data-dismiss='modal' title='{{jed "close dialog"/}}' type='button'>
            {{jed "Cancel"/}}
          </a>
          <button class='button white text-ellipsis' type='submit'>
            {{jed "Change orderer"/}}
          </button>
        </div>
      </div>
    </div>
    <div class='padding-vertical-m hidden' id='errors'>
      <div class='row emboss red text-align-center font-size-m padding-inset-s'>
        <strong></strong>
      </div>
    </div>
    <div class='row padding-vertical-m' id='user'>
      <div class='row emboss padding-inset-m'>
        <div class='col4of9 text-align-center' id='swapped-person'>
          <input autocomplete='off' autofocus='autofocus' class='width-m' data-barcode-scanner-target data-prevent-barcode-scanner-submit id='user-id' placeholder='{{jed 'Name / ID'/}}' type='text'>
          <div id='selected-user'></div>
        </div>
        <div class='col1of9 text-align-center'>
          <i class='fa fa-exchange icon-xxl'></i>
        </div>
        <div class='col4of9 text-align-center'>
          <p class='paragraph-s padding-top-xxs margin-top-xxs'>
            <strong>
              {{>firstname}}
              {{>lastname}}
            </strong>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
