:ruby
  navigation_dropdown_items = render(partial: "layouts/procurement/navigation_dropdown_items")

%li.dropdown
  %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
    %i.fa.fa-pie-chart
    %span= _("Procurement")
    - unless navigation_dropdown_items.blank?
      %i.caret
  - unless navigation_dropdown_items.blank?
    %ul.dropdown-menu
      = navigation_dropdown_items
