<div>
  <div class='row height-xs margin-bottom-s'>
    <div class='pearl' id='properties-toggle'>
      <span id='show-all-properties-text'>
        <i class='fa fa-expand-alt'></i>
        {{jed "Show all properties"/}}
      </span>
      <span class='hidden' id='show-less-properties-text'>
        <i class='fa fa-collapse-alt'></i>
        {{jed "Show less properties"/}}
      </span>
    </div>
  </div>
  <div class='collapsed' id='collapsed-properties'>
    <div class='row collapsed-inner'></div>
    <div class='row collapsed-shadow'></div>
    <div class='row collapsed-shadow-cover'></div>
  </div>
</div>
