.row

  %nav
    %ul

      %li
        %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => manage_inventory_pool_groups_path(current_inventory_pool),
                                                                                :class => (defined? active_tab and active_tab == :groups) ? "active" : ""}
          = _("Entitlement-Groups")
