<div class='row line font-size-xs'>
  <input name='user[groups][][id]' type='hidden' value='{{>id}}'>
  <div class='line-col col1of2 text-align-left'>
    {{>name}}
  </div>
  <div class='line-col col1of2 text-align-right'>
    <button class='button inset small' data-remove-group>{{jed "Remove"/}}</button>
  </div>
</div>
