<div class='padding-inset-s width-xl-alt'>
  <div class='row'>
    {{if amount_of_images != 0}}
    <div class='col1of4 text-align-center emboss white min-width-s padding-inset-s' style='max-height: 120px'>
      {{count amount_of_images}}
      <img class='margin-bottom-s max-height-s max-width-s' src='/models/{{>#parent.data.id}}/image_thumb?offset={{>count}}'>
      {{/count}}
    </div>
    {{/if}}
    <div class='{{if amount_of_images == 0}}row{{else}}col3of4 padding-left-m{{/if}}' style='min-height: 120px'>
      <div class='row'>
        <div class='headline-s'>{{>name()}}</div>
      </div>
      <div class='row'>
        <p class='paragraph-s margin-top-s text-align-left'>{{>description}}</p>
      </div>
      {{if propertiesToDisplay.length}}
      <div class='row margin-top-m padding-bottom-m padding-inset-s'>
        {{for propertiesToDisplay}}
        <div class='row margin-top-xs'>
          <div class='col1of3 text-align-right text-ellipsis'>
            <strong>{{>key/}}</strong>
          </div>
          <div class='col2of3 padding-left-s'>{{>value}}</div>
        </div>
        {{/for}}
      </div>
      {{/if}}
    </div>
  </div>
</div>
