-# TODO: translations

- mobile_app_href = '/app/borrow/'
- active_language = Language.find_by_locale(I18n.locale).try(:locale)
- default_language = Language.default_language.try(:locale)
- texts = LEIHS_MOBILE_APP_SHOW_NOTICE_TEXTS.presence || {}
- notice_text = texts[active_language].presence || texts[default_language].presence || texts.values.first.presence || "try the new borrow app!"


#mobile-app-notice
  .mobile-app-notice-content
    %a{href: mobile_app_href}= notice_text.html_safe

:css
  #mobile-app-notice {
    background: #660066;
    padding: 1rem;
  }
  #mobile-app-notice a {
    color: white;
    display:block;
  }
  #mobile-app-notice .mobile-app-notice-content {
    max-width: 100vw;
    text-align: center;
    font-size: 1.5rem;
  }
  #mobile-app-notice:hover {
    opacity: 0.90;
  }
  @media
    only screen and (max-device-width: 500px) { 
      .mobile-app-notice-desktop {
        display: none;
      }
      #mobile-app-notice {
        background: black;
      }
      #mobile-app-notice .mobile-app-notice-content {
        padding: 5rem 5rem; 
        font-size: 4rem;
    }
  }
  @media
    only screen and (min-device-width: 501px) {
      .mobile-app-notice-mobile {
        display: none;
    }
  }
