<li class='separated-bottom exclude-last-child'>
  <a>
    <div class='row text-ellipsis'>
      <div class='col1of3'>
        <strong>{{>inventory_code}}</strong>
      </div>
      <div class='col2of3 text-ellipsis' title='{{>current_location}}'>
        {{>current_location}}
      </div>
    </div>
  </a>
</li>
