<div class='line light row focus-hover-thin' data-id='{{>id}}' data-line-type='item_line'>
  <div class='line-info{{if ~renderAvailability && anyProblems()}} red{{/if}}'></div>
  <div class='line-col padding-left-xs'>
    <div class='row'>
      <div class='col1of4'>
        <label class='padding-inset-s'>
          <input autocomplete='off' data-select-line type='checkbox'>
        </label>
      </div>
    </div>
  </div>
  <div class='col2of10 line-col text-align-center'>
    <div class='row'>{{>item().inventory_code}}</div>
  </div>
  <div class='col4of10 line-col text-align-left'>
    <strong class='test-fix-timeline' data-id='{{>model().id}}' data-type='model-cell'>
      {{>model().name()}}
    </strong>
    {{if model().accessory_names && model().accessory_names.length}}
    <br>
    <span>{{>model().accessory_names}}</span>
    {{/if}}
  </div>
  <div class='col1of10 line-col text-align-center'>
    <div class='tooltip' data-tooltip-template='manage/views/purposes/tooltip' title='{{>contract().purpose}}'>
      <i class='fa fa-comment grey'></i>
    </div>
  </div>
  <div class='col1of10 line-col text-align-center'>
    {{if ~renderAvailability && anyProblems()}}
    <div class='emboss red padding-inset-xxs-alt text-align-center tooltip' data-tooltip-data='{{JSON getProblems()/}}' data-tooltip-template='manage/views/reservations/problems_tooltip'>
      <strong>{{>getProblems().length}}</strong>
    </div>
    {{else ~renderAvailability && !anyProblems() && item()}}
    <div class='padding-inset-xxs-alt text-align-center'>
      <i class='fa fa-check'></i>
    </div>
    {{/if}}
  </div>
  <div class='col2of10 line-col line-actions padding-left-xxs padding-right-s'>
    <div class='multibutton'>
      <button class='button white text-ellipsis' data-edit-lines data-ids='{{JSON [id]/}}'>{{jed "Change entry"/}}</button>
      <div class='dropdown-holder inline-block'>
        <div class='button white dropdown-toggle'>
          <div class='arrow down'></div>
        </div>
        <ul class='dropdown right'>
          <li>
            <a class='dropdown-item' href='{{>contract().url()}}' target='_blank'>
              <i class='fa fa-file-alt'></i>
              {{jed "Contract"/}}
              {{>contract().compact_id}}
            </a>
          </li>
          <li>
            <a class='dropdown-item' data-model-id='{{>model().id}}' data-open-time-line>
              <i class='fa fa-align-left'></i>
              {{jed "Timeline"/}}
            </a>
          </li>
          <li>
            <a class='dropdown-item' data-inspect-item data-item-id='{{>item_id}}'>
              <i class='fa fa-search'></i>
              {{jed "Inspect"/}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
