%span{data: {type: "user-cell",
             id: user.id,
             firstname: user.firstname,
             lastname: user.lastname,
             email: user.email,
             phone: user.phone,
             badge_id: user.badge_id,
             address: user.address,
             image_url: user.image_url,
             zip: user.zip,
             city: user.city,
             is_suspended: user.suspended?(current_inventory_pool) ? "true" : "",
             suspended_reason: user.current_suspensions(current_inventory_pool)
                                    .map { |s| s.suspended_reason }.join("\n\n")
                                    .gsub("\n", "&#10;") }}
  = label ||= user
  - if user.suspended?(current_inventory_pool)
    %span.darkred-text= "%s!" % _("Suspended")
  - elsif not user.access_right_for(current_inventory_pool)
    %span.darkred-text= "%s!" % _("No access")

:coffeescript
  jQuery ->
    new App.UserCellTooltipController {el: "body"}
