- content_for :title, _("Returns")

.wrapper.margin-top-m

  = render :partial => 'borrow/tabs', :locals => {:tabs => [[request.fullpath , _("Returns")]]}

  .row.content-wrapper.straight-top-left

    - @grouped_lines.each_pair do |k, v|

      .row.padding-inset-l
        .col1of7
          %h3.headline-l= l k.first
        .col5of7{style: "padding-top: 3px"}
          %h2.headline-m= k.second.name

      .separated-top.padding-bottom-l

        = render :partial => "line", :collection => v
