<div class='target-selection row width-m-alt'>
  <div class='col1of2 padding-right-xxs'>
    <button class='button inset width-full' id='set-start-date'>{{jed "Start date"/}}</button>
  </div>
  <div class='col1of2 text-align-right padding-left-xxs'>
    <button class='button inset width-full' id='set-end-date'>{{jed "End date"/}}</button>
  </div>
</div>
