<div class='row line font-size-xs focus-hover-thin' data-type='inline-entry'>
  <div class='line-col col7of10 text-align-left'>
    <a class='blue' href='{{>public_filename}}' target='_blank'>
      {{>filename}}
    </a>
  </div>
  <div class='line-col col3of10 text-align-right'></div>
</div>
