:ruby
  procurement_engine_present = ("Procurement".constantize rescue false)
  section = controller_path.split('/').first.to_sym
  rendered_dropdown_items = render(partial: "navigation_dropdown_items", locals: { procurement_engine_present: procurement_engine_present, section: section })

- if current_user.has_role?(:group_manager) or current_user.is_admin or procurement_engine_present
  %li.topbar-item.max-width-full.with-icon.dropdown-holder
    .topbar-item-inner
      - case section
        - when :borrow
          %i.fa.fa-shopping-cart
          %span= _("Borrow")
        - when :manage
          %i.fa.fa-gears
          %span= current_inventory_pool
      - unless rendered_dropdown_items.blank?
        %i.arrow.down
    - unless rendered_dropdown_items.blank?
      %ul.dropdown.right.straight-top
        = rendered_dropdown_items
