<div class='line row focus-hover-thin' data-id='{{>id}}' data-type='hand_over'>
  {{if isOverdue()}}
  <div class='line-info red'></div>
  {{/if}}
  {{partial 'manage/views/users/cell' user() '{"grid":"col1of5"}'/}}
  <div class='col1of5 line-col'>
    {{if isOverdue()}}
    <strong>{{diffToday date/}}</strong>
    {{else}}
    {{diffToday date/}}
    {{/if}}
  </div>
  <div class='col1of5 line-col text-align-center' data-type='lines-cell'>{{include tmpl='manage/views/reservations/cell'/}}</div>
  <div class='col1of5 line-col text-align-center'>
    {{>getMaxRange()}}
    {{jed getMaxRange() "day" "days"/}}
  </div>
  <div class='col1of5 line-col line-actions'>
    <div class='multibutton'>
      <a class='button white text-ellipsis' href='/manage/{{current_inventory_pool_id/}}/users/{{>user().id}}/hand_over'>
        <i class='fa fa-mail-forward'></i>
        {{jed "Hand Over"/}}
      </a>
      <div class='dropdown-holder inline-block'>
        <div class='button white dropdown-toggle'>
          <div class='arrow down'></div>
        </div>
        <ul class='dropdown right'>
          <li>
            <a class='dropdown-item red' data-hand-over-delete>
              <i class='fa fa-trash'></i>
              {{jed "Delete"/}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
