<div class='modal medium hide fade ui-modal padding-inset-m padding-horizontal-l' role='dialog' tabindex='-1'>
  <div class='row padding-vertical-m'>
    <div class='col2of3'>
      <h3 class='headline-l' style='color: #f00;'>{{jed "Upload problems"/}}</h3>
      <h3 class='headline-s light' style='color: #f00;'>
        {{>headlineMessage}}
      </h3>
    </div>
    <div class='col1of3'>
      <div class='float-right'>
        <a class='button white' href='{{>url}}'>
          {{>buttonLabel}}
        </a>
      </div>
    </div>
  </div>
</div>
