<div class='row line font-size-xs focus-hover-thin' data-new data-type='inline-entry'>
  <input data-disable-on-remove name='model[compatible_ids][]' type='hidden' value='{{>id}}'>
  <div class='line-col col2of3 text-align-left'>
    {{>name()}}
  </div>
  <div class='line-col col1of3 text-align-right'>
    <button class='button small inset' data-remove type='button'><%= _('Remove') %></button>
  </div>
</div>
