<div class='row line font-size-xs focus-hover-thin' data-type='inline-entry' date-new>
  <div class='line-col col1of10 text-align-left no-padding text-align-center cursor-move' data-type='sort-handle'>
    <i class='fa fa-resize-vertical'></i>
  </div>
  <div class='line-col col4of10 no-padding'>
    <input class='small width-full' name='model[properties_attributes][][key]' type='text'>
  </div>
  <div class='line-col col4of10'>
    <input class='small width-full' name='model[properties_attributes][][value]' type='text'>
  </div>
  <div class='line-col col1of10 text-align-right'>
    <button class='button small inset' data-remove title='<%= _('Remove') %>'>
      <i class='fa fa-trash'></i>
    </button>
  </div>
</div>
