<input autocomplete='off' class='small width-full has-addon text-align-center' data-assign-item disabled id='assigned-item-{{>id}}' type='text' value='{{>item().inventory_code}}'>
<label class='addon small transparent no-padding' data-remove-assignment for='assigned-item-{{>id}}'>
  <span class='link grey padding-inset-xs vertical-align-middle'>
    <i class='fa fa-times-circle'></i>
  </span>
</label>
