<div class='row line' data-id='{{>id}}' data-parent>
  <div class='col1of9 line-col'>
    {{if children().length}}
    <button class='button inset small min-width-xs' data-type='expander'>
      <i class='arrow right'></i>
      <span>
        {{>children().length}}
      </span>
    </button>
    {{/if}}
  </div>
  <div class='col3of9 line-col text-align-left'>
    <strong>
      {{>name}}
    </strong>
  </div>
  <div class='col2of9 line-col'>
    {{if !is_used()}}
    <strong class='darkred-text'>
      {{jed "not used"/}}
    </strong>
    {{/if}}
  </div>
  <div class='col3of9 line-col line-actions'>
    {{if is_used()}}
    <a class='button white' href='{{>url('edit')}}'>
      {{jed "Edit"/}}
    </a>
    {{else}}
    <div class='multibutton'>
      <a class='button white' href='{{>url('edit')}}'>
        {{jed "Edit"/}}
      </a>
      <div class='dropdown-holder inline-block'>
        <div class='button white dropdown-toggle'>
          <div class='arrow down'></div>
        </div>
        <ul class='dropdown right'>
          <li>
            <a class='dropdown-item red' data-method='delete' href='{{>url()}}'>
              <i class='fa fa-trash'></i>
              {{jed "Delete"/}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    {{/if}}
  </div>
</div>
